:root {
  --cor1: #243757;
  --cor2: #3a5f6f;
  --cor3: #dad5b7;
  --cor4: #c2b79b;
  --cor5: #665e52;
  --cor6: #e2730a;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--cor3);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--cor1);
  height: 140px;
}

nav {
  background-color: var(--cor2);
  height: 60px;
}

.menu {
  position: relative;
  top: 14px;
  font-size: 25px;
  margin-left: 20px;
  padding: 10px;
  color: var(--cor6);
  text-decoration: 0;
}

.menu:hover {
  color: var(--cor3);
}

.titulo {
  margin: 0;
  text-align: center;
  position: relative;
  top: 40px;
  color: var(--cor3);
}

.principal {
  min-height: 100vh;
  /* margin: 20px; */
}

.cardsprincipal {
  min-height: 100vh;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 200px;
}

.textorodape {
  position: relative;
  top: 80px;
}

.card {
  display: inline-block;
  margin: 40px;
  text-align: center;
  background-color: var(--cor2);
  border-radius: 10px;
  height: 300px;
  width: 240px;
}

.imgcard {
  position: relative;
  top: 20px;
  height: 200px;
}

.textocard {
  position: relative;
  top: 20px;
  color: var(--cor6);
}

.imgtitulo {
  position: absolute;
  top: 15px;
  left: 35%;
  height: 100px;
}
